<%= form_for(@mood) do |f| %>
  <% if @mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
      <% @mood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :name, "Name" %>  
      </div><!--/.small-3-->
      <div class="small-9 columns">
        <%= f.text_field :name %>  
      </div><!--/.small-12-->
    </div><!--/.row-->
  </div>

  <div class="inputs">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :description, "Description" %>  
      </div><!--/.small-3-->
      <div class="small-9 columns">
        <%= f.text_field :description %>  
      </div><!--/.small-12-->
    </div><!--/.row-->
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
