<% content_for :title do %>
Media Types
<% end %>
<p id="notice"><%= notice %></p>

<h1>Media Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_types.each do |media_type| %>
      <tr>
        <td><%= media_type.name %></td>
        <td><%= link_to 'Show', media_type %></td>
        <td><%= link_to 'Edit', edit_media_type_path(media_type) %></td>
        <td><%= link_to 'Destroy', media_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media type', new_media_type_path %>
