<%= form_for(@choice) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :name, "Name" %>  
      </div><!--/.small-3-->
      <div class="small-9 columns">
        <%= f.text_field :name %>  
      </div><!--/.small-12-->
    </div><!--/.row-->
  </div>

  <div class="inputs">
    <div class="row">
      <div class="small-3 columns">
        Moods
      </div><!--/.small-3-->
      <div class="small-9 columns">
        <%= f.collection_check_boxes :mood_ids, Mood.all, :id, :name do |b| %>
        <div class="row">
          <div class="small-3 columns text-right"><%= b.check_box %></div><!--/.small-3-->
          <div class="small-9 columns"><%= b.label %></div><!--/.small-9-->
        </div><!--/.row-->
        <% end %>
      </div><!--/.small-9-->
    </div><!--/.row-->
  </div>

  <div class="inputs">
    <div class="row">
      <div class="small-3 columns">
        Choice Category
      </div><!--/.small-3-->
      <div class="small-9 columns">
        <%= f.collection_select :choice_category_id, ChoiceCategory.all, :id, :name do |b| %>
        <div class="row">
          <div class="small-3 columns text-right"><%= b.check_box %></div><!--/.small-3-->
          <div class="small-9 columns"><%= b.label %></div><!--/.small-9-->
        </div><!--/.row-->
        <% end %>
      </div><!--/.small-9-->
    </div><!--/.row-->
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
