<p id="notice"><%= notice %></p>


<div class="row">
	<div class="small-12 columns">
		<h2><%= @choice.choice_category.name %> => <%= @choice.name %></h2>
		<%= @choice.times_served %>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="small-3 columns">
		<h4>Moods</h4>
	</div><!--/.small-3-->
	<div class="small-9 columns">
		<% @choice.moods.each do |mood| %>
			<%= mood.name %><br>

		<% end %>		
	</div><!--/.small-9-->
</div><!--/.row-->

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
