<div class="row">
  <div class="small-12 columns">

    <%= form_for(@media_item) do |f| %>
      <% if @media_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@media_item.errors.count, "error") %> prohibited this media_item from being saved:</h2>

          <ul>
          <% @media_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name,  "Media Item Name" %>
      <%= f.text_field :name %>

      <%= f.label :description,  "Description" %>
      <%= f.text_field :description %>

      <%= f.collection_select :media_type_id, MediaType.all, :id, :name %>

      <%= label_tag "Arts Type" %>

        <%= f.collection_check_boxes :arts_type_ids, ArtsType.all, :id, :name do |b| %>
          <%= b.check_box %>
          <%= b.label %>
        <% end %>

      <%= label_tag "Mood" %>

        <%= f.collection_check_boxes :mood_ids, Mood.all, :id, :name do |b| %>
          <%= b.check_box %>
          <%= b.label %>
        <% end %>

      <div class="actions">
        <%= f.submit class: "button tiny" %>
      </div>
    <% end %>

  </div><!--/.small-12-->
</div><!--/.row-->